*.csv
*.xls
*.data
*.pdf

env/
envs/
.venv/
.venv/

D:\Quantum-Computing\envs/*
D:\Uni\Term-7\Machine-Learning\Machine-Learning-Labs\ml_env/

__pycache__/
*.pyc
*.pyo

Pipfile.lock
requirements.txt

.ipynb_checkpoints/

.vscode/
.idea/


ml_env/


data/